<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.se.SeCategoryAllMapper">

    <select id="selectLCategory" resultType="com.example.dto.CategoryAll">
        SELECT code lcode, name lname FROM LCATEGORY
    </select>

    <select id="selectMCategory" resultType="com.example.dto.CategoryAll">
        SELECT code mcode, name mname FROM MCATEGORY
    </select>

    <select id="selectSCategory" resultType="com.example.dto.CategoryAll">
        SELECT code scode, name sname FROM SCATEGORY
    </select>

    <select id="selectByScode" parameterType="long" resultType="com.example.dto.CategoryAll">
        SELECT * FROM CATEGORYALLVIEW c WHERE SCODE = #{scode}
    </select>
    
</mapper>