<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.se.SePurchaseItemMapper">

    <select id="selectManyPurchaseItem" resultType="map">
        SELECT * FROM (SELECT *, ROW_NUMBER() OVER(ORDER BY PURCHASECNT DESC) ROWNNUM FROM SEMANYPURCHASEITEMVIEW s) WHERE ROWNNUM <![CDATA[ <= ]]> 8 ORDER BY ROWNNUM ASC
    </select>

    <select id="selectManyPurchaseItem1" parameterType="long" resultType="com.example.dto.SeManyPurchaseItemView">
        SELECT * FROM (SELECT *, ROW_NUMBER() OVER(ORDER BY PURCHASECNT DESC) ROWNNUM FROM SEMANYPURCHASEITEMVIEW s) WHERE ROWNNUM <![CDATA[ <= ]]> #{no} ORDER BY ROWNNUM ASC
    </select>
        
    <select id="selectDeadLinePurchaseItem" parameterType="long" resultType="com.example.dto.SeDeadlinePurchaseDdayView">
        SELECT * FROM (SELECT *, ROW_NUMBER() OVER(ORDER BY DEADLINE ASC) ROWNNUM FROM SEDEADLINEPURCHASEDDAYVIEW s) WHERE ROWNNUM <![CDATA[ <= ]]> #{no} ORDER BY ROWNNUM ASC
    </select>

    <select id="selectAroundPurchaseItem" parameterType="com.example.entity.CustomerAddressEntity" resultType="com.example.dto.SeAroundPurchaseView">
        SELECT * FROM 
        (SELECT *, ROW_NUMBER() OVER(ORDER BY distance ASC) ROWNNUM FROM 
        (SELECT * FROM (
        SELECT *,
            6371000 * ACOS(
                COS(RADIANS(latitude)) * COS(RADIANS(#{latitude})) * COS(RADIANS(longitude) - RADIANS(#{longitude})) + SIN(RADIANS(latitude)) * SIN(RADIANS(#{latitude}))
            ) AS distance 
        FROM SEAROUNDPURCHASEVIEW) WHERE distance <![CDATA[ <= ]]> 10000)) WHERE ROWNNUM <![CDATA[ <= ]]> 5 ORDER BY ROWNNUM ASC

        <!-- SELECT * FROM 
        (SELECT *, ROW_NUMBER() OVER(ORDER BY distance ASC) ROWNNUM FROM 
        (SELECT * FROM (SELECT *, 6371 * ACOS( COS(RADIANS(35.1310310271862)) * COS(RADIANS(#{latitude})) * COS(RADIANS(#{longitude}) - RADIANS(129.0771369881199)) + SIN(RADIANS(35.1310310271862)) * SIN(RADIANS(#{latitude}))) distance 
        FROM SEAROUNDPURCHASEVIEW) WHERE distance <![CDATA[ <= ]]> 10)) WHERE ROWNNUM <![CDATA[ <= ]]> 5 ORDER BY ROWNNUM ASC -->
    </select>

    <select id="selectSearchItem" parameterType="com.example.dto.SeSelectItemListView" resultType="com.example.dto.SeSelectItemListView">
        SELECT * FROM
        (SELECT *, ROW_NUMBER() OVER(ORDER BY ${orderby} ${sort}) rown FROM (
        SELECT * FROM SESELECTITEMLISTVIEW s WHERE name LIKE '%' || #{search} || '%'
        )) WHERE rown <![CDATA[ >= ]]> #{start} AND rown <![CDATA[ <= ]]> #{end} ORDER BY ${orderby} ${sort}
    </select>

    <select id="selectSearchItemCnt" parameterType="com.example.dto.SeSelectItemListView" resultType="long">
        SELECT COUNT(*) CNT FROM SESELECTITEMLISTVIEW s WHERE name LIKE '%' || #{search} || '%'
    </select>

    <select id="selectScodeItem" parameterType="com.example.dto.SeSelectItemListView" resultType="com.example.dto.SeSelectItemListView">
        SELECT * FROM
        (SELECT *, ROW_NUMBER() OVER(ORDER BY ${orderby} ${sort}) rown FROM (
        SELECT * FROM SESELECTITEMLISTVIEW s WHERE scode = #{scode}
        )) WHERE rown <![CDATA[ >= ]]> #{start} AND rown <![CDATA[ <= ]]> #{end} ORDER BY ${orderby} ${sort}
    </select>

    <select id="selectScodeItemCnt" parameterType="com.example.dto.SeSelectItemListView" resultType="long">
        SELECT COUNT(*) CNT FROM SESELECTITEMLISTVIEW s WHERE scode = #{scode}
    </select>

    <select id="selectScodeItemBest" parameterType="long" resultType="com.example.dto.SeSelectItemListView">
        SELECT * FROM (SELECT *, ROW_NUMBER() OVER(ORDER BY PURCHASECNT DESC) ROWN FROM SESELECTITEMLISTVIEW s WHERE scode = #{scode}) WHERE ROWN <![CDATA[ <= ]]> 6 ORDER BY purchasecnt DESC
    </select>

    <select id="selectPurchaseChk" parameterType="long" resultType="long">
        SELECT COUNT(*) purchasechk FROM (SELECT *, ROW_NUMBER() OVER (PARTITION BY PURCHASENO ORDER BY REGDATE DESC) rown FROM PURCHASESTATUS p WHERE itemno = #{itemno}) WHERE rown = 1 AND state = 0
    </select>

    <select id="selectPurchaseOpenChk" parameterType="long" resultType="long">
        SELECT count(*) cnt FROM PURCHASESTATUS p WHERE PURCHASENO = #{purchaseno}
    </select>

</mapper>