<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button onclick="sendMessage()">send</button>
    
    <script>
        // const id = "마루";
        // const eventSource = new EventSource(`/SOBUN/api/sse/notify/subscribe?id=${id}`);

        const sendMessage = () => {
            var message = '우히히';
            fetch(`/SOBUN/api/sse/notify/publish?message=${message}`) // 메시지 보내기
        }

        // eventSource.onmessage = (e) => { // 메시지가 왔을 때
        //     console.log('onmessage', e.data);
        // }
    </script>
</body>
</html>