<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button onclick="sendMessage2()">send</button>
    
    <script>

        // 찜물품 공구열림
        const sendMessage1 = () => {
            var itemno = 13;
            var message = '찜';
            fetch(`/SOBUN/api/sse/jjim/publish?message=${message}&itemno=${itemno}`) // 메시지 보내기
        }

        // 공구마감
        const sendMessage2 = () => {
            var purchaseno = 1058;
            var message = '공구마감';
            fetch(`/SOBUN/api/sse/completepurchase/publish?message=${message}&purchaseno=${purchaseno}`) // 메시지 보내기
        }

    </script>
</body>
</html>