<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 1인가구 공구문화 - 소분소분</title>
    <link rel="icon" th:href="@{/images/se/sobun.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <th:block th:replace="~{/se/customer/header :: headerCSS}"></th:block>
    <th:block th:replace="~{/km/customer/footer :: footerCSS}"></th:block>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- axios (https://cdnjs.com/libraries/axios) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js" integrity="sha512-nnNHpffPSgINrsR8ZAIgFUIMexORL5tPwsfktOTxVYSv+AUAILuFYWES8IHl+hhIhpFGlKvWFiz9ZEusrPcSBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- header -->
    <th:block th:replace="~{/se/customer/header :: headerHTML}"></th:block>
    
    <!-- 본문 영역 (padding-bottom은 건들면 안돼요ㅠㅠ footer랑 겹치는 문제 해결용임돵) -->
    <div style="padding-bottom: 300px;">
        
        <div class="container">

            <!-- 검색어별 -->
            <th:block th:if="${menu == 1}">
                <th:block th:text="| 검색 결과 ${list.size} 개|"></th:block>
                <hr>
                검색목록
                <hr>
                <a th:href="@{/customer/item/selectlist.do(search=${param.search}, orderby=price)}">저가순</a>
                <a th:href="@{/customer/item/selectlist.do(search=${param.search}, orderby=purchasecnt)}">공구 많이 열린 순</a>
                <th:block th:each=" searchOne, idx : ${list} ">
                    <th:block th:text="${searchOne.itemno}"></th:block>
                    <th:block th:text="${searchOne.price}"></th:block>
                    <label name="testchk"></label>
                </th:block>
            </th:block>



            <!-- 소분류별 -->
            <th:block th:if="${menu == 2}">
                소분류별
                <hr>
                BEST
                <th:block th:each=" bestone : ${bestlist} ">
                    <th:block th:text="${bestone.itemno}"></th:block>
                    <th:block th:text="${bestone.price}"></th:block>
                </th:block>

                <hr>
                <th:block th:text="${cate.lname}"></th:block>
                <th:block th:text="${cate.mname}"></th:block>
                <th:block th:text="${cate.sname}"></th:block>
                
                <hr>
                소분류별 전체목록
                <a th:href="@{/customer/item/selectlist.do(scode=${cate.scode}, orderby=price)}">저가순</a>
                <a th:href="@{/customer/item/selectlist.do(scode=${cate.scode}, orderby=purchasecnt)}">공구 많이 열린 순</a>
                <th:block th:each=" scodeOne, idx : ${list} ">
                    <th:block th:text="${scodeOne.itemno}"></th:block>
                    <th:block th:text="${scodeOne.price}"></th:block>
                    <label name="testchk"></label>
                </th:block>
            </th:block>



            <!-- 전체목록 -->
            <th:block th:if="${menu == 3}">
                <hr>
                전체물품목록
                <hr>
                BEST
                <hr>
                <th:block th:each=" totalbestone : ${bestlist} ">
                    <th:block th:text="${totalbestone.itemno}"></th:block>
                    <!-- <th:block th:text="${totalbestone.price}"></th:block> -->
                    <!-- <img th:src="@{/customer/seimage(itemno=${totalbestone.itemno})}" style="width: 100px;"> -->
                </th:block>
                <hr>
                <br><br><br>
                전체목록
                <a th:href="@{/customer/item/selectlist.do(orderby=price)}">저가순</a>
                <a th:href="@{/customer/item/selectlist.do(orderby=purchasecnt)}">공구 많이 열린 순</a>
                <hr>
                <th:block th:each=" totalOne, idx : ${list} ">
                    <th:block th:text="${totalOne.itemno}"></th:block>
                    <img th:src="@{/customer/seimage(itemno=${totalOne.itemno})}" style="height: 500px;" th:onload="chkPurchase([[${idx.index}]], [[${totalOne.itemno}]])">
                    <!-- <th:block th:text="${totalOne.price}"></th:block> -->
                    <label name="testchk"></label>
                </th:block>
            </th:block>

        </div>

    </div>

    <!-- footer -->
    <th:block th:replace="~{/km/customer/footer :: footerHTML}"></th:block>



    <!-- script-->
    <script th:inline="javascript" type="text/javascript">
        const chkPurchase = async (idx, itemno) => {
            // console.log(document.getElementsByName('testchk')[idx]);

            const url = [[@{/api/purchasechk.json}]] + `?itemno=${itemno}`;
            const headers = {"Content-Type" : "application/json"};
            const { data } = await axios.get(url, {headers});
            console.log(data.chk);

            if( data.chk != 0){
                document.getElementsByName('testchk')[idx].innerHTML = `공구열림`;
                document.getElementsByName('testchk')[idx].style.color = 'red';
            }
            
        }
        



    </script>
    
</body>
</html>