<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Simple DataTable용 CSS CDN -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css"> -->
    <!--최신버전-->
    <!-- font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <th:block th:replace="~{/gr/admin/header :: headerCSS}"></th:block>
    <th:block th:replace="~{/gr/admin/footer :: footerCSS}"></th:block>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- axios (https://cdnjs.com/libraries/axios) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"
        integrity="sha512-nnNHpffPSgINrsR8ZAIgFUIMexORL5tPwsfktOTxVYSv+AUAILuFYWES8IHl+hhIhpFGlKvWFiz9ZEusrPcSBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Font Awesome ICON용 스크립트 CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- header -->
    <th:block th:replace="~{/gr/admin/header :: headerHTML}"></th:block>

    <!-- 본문 영역 (padding-bottom은 건들면 안돼요ㅠㅠ footer랑 겹치는 문제 해결용임돵) -->
    <div style="padding-bottom: 300px;" class="container">
        <main>
            
            <!-- <div th:text="${storageList}"></div> -->

            <!-- -------------------------------------------------------------------------------------------------------------- -->
            <!-- 지점 선택 ~  -->
            <select id="selectStorage" name="storageNo" onchange="selectStorage()">
                <option value="0" selected>---[필수 선택]---</option>
                <option th:each="tmp:${storageList}" th:value="${tmp.no}" th:text="${tmp.name}"></option>
            </select>
            <!-- ~ 지점 선택-->

            <!-- 지점 선택시 생성될 버튼들 ~  -->
            <div id="receive_btn">
                <!-- 위의 select 태그 선택 시 생성됨
                    <button>수령 미완료</button>
                    <button>수령 완료</button> 
                -->
            </div>
            <!-- ~ 지점 선택시 생성될 버튼들  -->
            
            
            <!-- -------------------------------------------------------------------------------------------------------------- -->

            <!-- 검색 기능 ~  -->
            <select id="receiveState" onclick="removeReceiveBtn()">
                <option value="0">수령미완료</option>
                <option value="1">수령완료</option>
            </select>
            <select id="searchOption" onclick="removeReceiveBtn()">
                <option value="purchaseno">번호</option>
                <option value="memid">아이디</option>
            </select>
            <input type="text" id="searchInput" placeholder="검색" onclick="removeReceiveBtn()">
            <button onclick="searchData()">검색</button>
            <!-- ~ 검색 기능  -->

            <!-- -------------------------------------------------------------------------------------------------------------- -->

            <!-- 테이블 영역 ~ -->
            <div class="px-4">
                <h1 class="mt-4">고객 상품 수령 관리</h1>

                <div class="row">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                <span>테이블 예제</span>

                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple" class="dataTable table">
                                    <thead id="thead">

                                    </thead>
                                    <tbody id="tbody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ~ 테이블 영역 -->
        </main>


    </div>

    <!-- footer -->
    <th:block th:replace="~{/gr/admin/footer :: footerHTML}"></th:block>

    <!-- script-->
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Simple DataTable용 JS CDN -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script> -->

    <script th:inline="javascript" type="text/javascript">

        const dataTable = document.querySelector('#datatablesSimple');
        var table = null;

        const select = document.querySelector('#selectStorage');
        var selectVal = null;

        function removeReceiveBtn() {
            document.querySelector('#receive_btn').innerHTML = '';
        }

        // select 태그 누르면 버튼 생성하기
        async function selectStorage() {

            selectVal = select.options[select.selectedIndex].value;
            console.log("value => ", selectVal);

            document.querySelector('#receive_btn').innerHTML =
                `<button onclick="selectPurchase(0)">수령 미완료</button>` +
                `<button onclick="selectPurchase(1)" >수령 완료</button>`;
        }

        // select 태그의 값에 해당하는 공구 리스트 가져오기
        async function selectPurchase(receivestate) {
           
            const url = [[@{/api/admin/purchaselistbystorage.json}]] + "?storageno=" + selectVal + `&receivestate=` + receivestate;
            console.log(url);

            const headers = { "Content-Type": "application/json" };
            const { data } = await axios.get(url, { headers: headers });

            // console.log("반환값 확인", data.purchaseList);

            // 이전 테이블 인스턴스가 있다면 제거
            if (table) {
                table.destroy();
                table = null;
            }

            var thead = document.querySelector('#thead');
            var tbody = document.querySelector('#tbody');


            if (data.result == 1) {
                thead.innerHTML = '';
                tbody.innerHTML = '';
                if (data.purchaseList != null) {
                    thead.innerHTML +=
                        `<tr>` +
                        `<th>공구번호</th>` +
                        `<th>참여인원</th>` +
                        `<th>수령인원</th>` +
                        `<th>보관소 도착일</th>` +
                        `<th>고객 리스트</th>` +
                        `</tr>`;

                    for (let i = 0; i < data.purchaseList.length; i++) {

                        let tmp = data.purchaseList[i];
                        // console.log("반환값 확인", tmp);
                        var receivedate = formatDate(tmp.receivedate);


                        // 컨테이너 초기화
                        var buttonContainer = '';

                        for (let j = 0; j < tmp.memIdList.length; j++) {
                            const memId = tmp.memIdList[j];
                            buttonContainer += `${memId}<button id="checkBtn" class="btn notcomplete" th:onclick="checkBtn(this, ${tmp.no})" style="color:red;">☐</button>`;
                            
                        }

                        tbody.innerHTML +=
                            `<tr>` +
                            `<td>${tmp.no}</td>` +
                            `<td>${tmp.participant}</td>` +
                            `<td>${tmp.headCount}</td>` +
                            `<td>${receivedate}</td>` +
                            `<td>${buttonContainer}</td></tr>`;
                    }
                } else if (data.purchaseList == null) {

                    let thead = document.getElementById('thead');
                    thead.innerHTML = '';
                    let row = document.createElement('tr');

                    row.innerHTML =
                        'No entries found';

                    tbody.appendChild(row);
                }


            }

        }
        


        // 검색 기능 => 검색 값에 해당하는 공구 리스트 가져오기
        async function searchData() {

            // const receiveState = document.querySelector('#receiveState').value;
            const receiveState = parseInt(document.querySelector('#receiveState').value);
            const searchOption = document.querySelector('#searchOption').value;
            const searchValue = document.querySelector('#searchInput').value;

            let url = [[@{/api/admin/purchaselistbysearch.json}]] 
                    + "?receivestate=" + receiveState 
                    + "&searchoption=" + searchOption 
                    + "&searchvalue=" + searchValue; 
                    
            console.log(url);

            const headers = { "Content-Type": "application/json" };
            const { data } = await axios.get(url, { headers: headers });

            console.log("반환값 확인", data );

            // 이전 테이블 인스턴스가 있다면 제거
            if (table) {
                table.destroy();
                table = null;
            }

            var thead = document.querySelector('#thead');
            var tbody = document.querySelector('#tbody');


            if (data.result == 1) {
                thead.innerHTML = '';
                tbody.innerHTML = '';

                if (data.purchaseList != null) {
                    thead.innerHTML +=
                        `<tr>` +
                        `<th>공구번호</th>` +
                        `<th>참여인원</th>` +
                        `<th>수령인원</th>` +
                        `<th>보관소 도착일</th>` +
                        `<th>고객 리스트</th>` +
                        `</tr>`;

                    for (let i = 0; i < data.purchaseList.length; i++) {

                        let tmp = data.purchaseList[i];
                        // console.log("반환값 확인", tmp);
                        var receivedate = formatDate(tmp.receivedate);


                        // 컨테이너 초기화
                        var buttonContainer = '';

                        for (let j = 0; j < tmp.memIdList.length; j++) {
                            const memId = tmp.memIdList[j];
                            buttonContainer += `${memId}<button id="checkBtn" class="btn notcomplete" th:onclick="checkBtn(this, ${tmp.no})" style="color:red;">☐</button>`;
                        }

                        tbody.innerHTML +=
                            `<tr>` +
                            `<td>${tmp.no}</td>` +
                            `<td>${tmp.participant}</td>` +
                            `<td>${tmp.headCount}</td>` +
                            `<td>${receivedate}</td>` +
                            `<td>${buttonContainer}</td></tr>`;
                    }
                } else if (data.purchaseList == null) {

                    let thead = document.getElementById('thead');
                    thead.innerHTML = '';
                    let row = document.createElement('tr');

                    row.innerHTML =
                        'No entries found';

                    tbody.appendChild(row);
                }
            }
        }


        
        async function checkBtn(btnTag, purchaseNo) {
            alert("안녕");
            console.log(purchaseNo);

            if (btnTag.classList.contains("notcomplete")) {
                btnTag.classList.remove("notcomplete");
                btnTag.classList.add("complete");
                // 'notcomplete' 클래스를 제거하고 'complete' 클래스를 추가
            } else if(btnTag.classList.contains("complete")) {
                btnTag.classList.remove("complete");
                btnTag.classList.add("notcomplete");
            }
            console.log(btnTag);

        }



        // 날짜 형식 바꾸기
        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}.${month}.${day}`;
        }


    </script>
</body>

</html>