<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ikh.IkhDeliveryMapper">

    <!-- 배송상태설정 -->
    <update id="updateStatus" parameterType="BigDecimal">
        UPDATE PURCHASE
        SET deliveryNo = #{deliveryNo},
            receivedate = CASE WHEN #{deliveryNo} = 3 THEN CURRENT_TIMESTAMP ELSE NULL END
        WHERE no IN (
            SELECT p.purchaseNo
            FROM purchasestatus p
            WHERE p.state = 1 AND p.purchaseNo = purchase.NO AND p.NO = #{no}
        )
    </update>
    
</mapper>