<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.gr.GrCustomerMapper">

   
    <!-- 아이디를 이용해서 고객 정보 받아오기 -->
    <select id="selectCustomerOne1" parameterType="string" resultType="com.example.dto.Customer">
        SELECT c.* FROM customer c WHERE c.id=#{id}
    </select>

    <!-- 전체 공구 참여 횟수 카운트 -->
    <select id="countPurchase" parameterType="string" resultType="int">
        SELECT count(*) FROM (SELECT *, ROW_NUMBER() over (PARTITION BY purchaseno ORDER BY no DESC) recent FROM purchasestatus p WHERE MEMID=#{id}) WHERE recent=1 AND state=1 AND cancel=0
    </select>

    <!-- 회원 탈퇴 -->
    <update id="myaccountdrop" parameterType="Customer" >
        UPDATE customer SET pw=null, name=null, phone=null, email=null, nickname=null, quitchk=1 where id=#{id}  
    </update>

    <!-- 회원정보 수정 -->
    <update id="updateinfo" parameterType="Customer" >
        UPDATE customer SET name=#{name}, phone=#{phone}, email=#{email}, nickname=#{nickname} where id=#{id}  
    </update>

    <!-- 회원 주소 1개 가져오기 -->
    <select id="selectOneCustomerAddress" parameterType="string" resultType="CustomerAddress">
        SELECT * FROM Customer_Address WHERE memId=#{id}
    </select>

    <!-- 회원 주소 수정 -->
    <update id="updateaddress" parameterType="CustomerAddress">
        UPDATE Customer_Address SET postcode=#{postcode}, address1=#{address1}, address2=#{address2}, address3=#{address3}, latitude=#{latitude}, longitude=#{longitude} WHERE memId=#{memId}
    </update>

    <!-- 회원 비밀번호 변경 -->
    <update id="updatepw" parameterType="Customer">
        UPDATE Customer SET pw=#{newPw} WHERE id=#{id}
    </update>


</mapper>