<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.gr.GrPurchaseItemMapper">

    <!-- 공구가 많이 열린 물품 5개 -->
    <select id="selectManyPurchaseItem" resultType="map">
        SELECT * FROM (SELECT *, ROW_NUMBER() OVER(ORDER BY PURCHASECNT DESC) ROWNNUM FROM SEMANYPURCHASEITEMVIEW s) WHERE ROWNNUM <![CDATA[ <= ]]> 5 ORDER BY ROWNUM ASC
    </select>

    <!-- 물품 대표이미지 가져오기
    <select id="selectItemImageOne" resultType="ItemImage">
        SELECT NVL(min(no), 0) FROM ItemImage WHERE itemNo=#{itemno}
    </select> -->

    <!-- 전체 개수 가져오기 (페이지네이션용)-->
    <select id="countMyOrderList" parameterType="string" resultType="long">
        SELECT COUNT(*) cnt FROM GRPURCHASEVIEW WHERE memId = #{id}
    </select>

    <!-- 페이지네이션 -->
    <select id="selectMyOrderListPage" parameterType="map" resultType="com.example.entity.gr.grpurchaseview">
        SELECT gv.* FROM (
        SELECT gv.*, ROW_NUMBER() OVER (ORDER BY regdate desc) rown FROM GRPURCHASEVIEW gv WHERE gv.memid=#{memId}
        ) gv WHERE rown  <![CDATA[ >= ]]> #{start}  AND rown  <![CDATA[ <= ]]> #{end} ORDER BY regdate desc
    </select>

    <!-- 기한내 구매목록 불러오기 -->
    <select id="searchMyOrderList" parameterType="map" resultType="com.example.entity.gr.grpurchaseview">
        SELECT * FROM GRPURCHASEVIEW WHERE (regdate BETWEEN #{fd} AND #{sd}) AND memId = #{id}
    </select>
        
    
</mapper>