<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.gr.GrPurchaseItemMapper">

    <!-- 공구가 많이 열린 물품 5개 -->
    <select id="selectManyPurchaseItem" resultType="map">
        SELECT * FROM (SELECT *, ROW_NUMBER() OVER(ORDER BY PURCHASECNT DESC) ROWNNUM FROM SEMANYPURCHASEITEMVIEW s) WHERE ROWNNUM <![CDATA[ <= ]]> 5 ORDER BY ROWNUM ASC
    </select>

    <!-- 전체 개수 가져오기 (페이지네이션용)-->
    <select id="countMyOrderList" parameterType="string" resultType="long">
        SELECT COUNT(*) cnt FROM GRPURCHASEVIEW WHERE memId = #{id}
    </select>

    <!-- 페이지네이션 -->
    <select id="selectMyOrderListPage" parameterType="map" resultType="com.example.entity.gr.grpurchaseview">
        SELECT gv.* FROM (
        SELECT gv.*, ROW_NUMBER() OVER (ORDER BY regdate desc) rown FROM GRPURCHASEVIEW gv WHERE gv.memid=#{memId}
        ) gv WHERE rown  <![CDATA[ >= ]]> #{start}  AND rown  <![CDATA[ <= ]]> #{end} ORDER BY regdate desc
    </select>

    <!-- 기한내 구매목록 개수 가져오기 (페이지네이션용)-->
    <select id="countMyOrderListDate" parameterType="com.example.dto.GrDate" resultType="long">
        SELECT COUNT(*) cnt FROM GRPURCHASEVIEW WHERE (REGDATE BETWEEN #{firstdate} AND #{seconddate}) AND memId =#{memId};
    </select>

    <!-- 기한내 구매목록 불러오기 -->
    <select id="MyOrderList" parameterType="com.example.dto.GrDate" resultType="com.example.entity.gr.grpurchaseview">
        
        SELECT gv.* FROM GRPURCHASEVIEW gv WHERE (regdate BETWEEN #{firstdate} AND #{seconddate}) AND memId = #{memId} ORDER BY regdate desc
        
    </select>

    <!-- 기한내 구매목록 불러오기 + 페이지네이션-->
    <select id="searchMyOrderList" parameterType="com.example.dto.GrDate" resultType="com.example.entity.gr.grpurchaseview">
        SELECT gv.* FROM (
        SELECT gv.*, ROW_NUMBER() OVER (ORDER BY regdate desc) rown FROM GRPURCHASEVIEW gv WHERE (regdate BETWEEN #{firstdate} AND #{seconddate}) AND memId = #{memId}
        ) gv WHERE rown <![CDATA[ >= ]]> #{start}  AND rown  <![CDATA[ <= ]]> #{end} ORDER BY regdate desc
    </select>

    
        
    
</mapper>