<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 1인가구 공구문화 - 소분소분</title>

    <th:block th:replace="~{/se/customer/header :: headerCSS}"></th:block>
    <th:block th:replace="~{/km/customer/footer :: footerCSS}"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- <link th:href="@{/css/km/font-awesome.min.css}" rel="stylesheet" type="text/css"> -->
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/km/single_styles.css}"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/km/single_responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/km/selectitem.css}">

    <!-- font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

   
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- axios (https://cdnjs.com/libraries/axios) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"
        integrity="sha512-nnNHpffPSgINrsR8ZAIgFUIMexORL5tPwsfktOTxVYSv+AUAILuFYWES8IHl+hhIhpFGlKvWFiz9ZEusrPcSBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>

<body>
    <!-- header -->
    <th:block th:replace="~{/se/customer/header :: headerHTML}"></th:block>

    <!-- 본문 영역 (padding-bottom은 건들면 안돼요ㅠㅠ footer랑 겹치는 문제 해결용임돵) -->
    <div style="padding-bottom: 300px;">
        <div class="super_container">
            <div class="container single_product_container">
                <div class="row">
                    <div class="col">
                        <!-- Breadcrumbs -->
                        <div class="breadcrumbs d-flex flex-row align-items-center">
                            <ul>
                                <li><span th:text="${purchaseList[0].lCategoryName}"></span></li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    <span th:text="${purchaseList[0].mCategoryName}"></span>
                                </li>
                                <li class="active">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    <a href="#" th:text="${purchaseList[0].sCategoryName}"></a>
                                    <!-- /customer/item/selectlist.do?scode=4 -->
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <!-- 물품 간단 사진 영역 ~ -->
                    <div class="col-lg-6">
                        <div class="single_product_pics">
                            <div class="row">
                                <div class="col-lg-9 image_col order-lg-2 order-1">
                                    <div class="single_product_image">
                                        <!-- <div class="single_product_image_background"
                                            th:style="'background-image:url('+ @{/images/km/single_2.jpg} +');height: 500px;mt-5'">
                                        </div> -->
                                        <div class="single_product_image_background" style="height: 500px">
                                            <img th:src="${imageList[0]}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ~ 물품 간단 사진 영역 -->

                    <!-- 물품 설명 영역 ~ -->
                    <div class="col-lg-6">
                        <div class="product_details">
                            <div class="product_details_title">
                                <p th:text="${purchaseList[0].sellerName}"></p>
                                <h2 th:text="${purchaseList[0].itemName}"></h2>
                                <div class="product_price" th:text="${#numbers.formatInteger(purchaseList[0].itemPrice, 3, 'COMMA') + '원'}"></div>
                            </div>
                            <!-- 열린 공구 영역 ~ -->
                            <div class="tablediv">
                                <table class="table table-hover scrolltable">
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">참여인원</th>
                                            <th scope="col">남은인원</th>
                                            <th scope="col">수령지점</th>
                                            <th scope="col">인당가격</th>
                                            <th scope="col">남은시간</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">

                                    </tbody>
                                </table>
                            </div>
                            <!-- ~ 열린 공구 영역 -->

                            <div
                                class="quantity d-flex flex-column flex-sm-row align-items-sm-center justify-content-center">

                                <!-- 공구 개설 modal ~ -->
                                <div class="red_button add_to_cart_button">
                                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <!-- single_custom.jsdml 209라인 (initQuantity() 함수)-->
                                                    <span>Quantity:</span>
                                                    <div class="quantity_selector">
                                                        <span class="minus"><i class="fa fa-minus"
                                                                aria-hidden="true"></i></span>
                                                        <span id="quantity_value">1</span>
                                                        <span class="plus"><i class="fa fa-plus"
                                                                aria-hidden="true"></i></span>
                                                    </div>
                                                    <!-- 참여인원 -->

                                                    <!-- 수령지점 -->

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary"
                                                        data-bs-target="#exampleModalToggle2"
                                                        data-bs-toggle="modal">개설하기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn open-btn" data-bs-target="#exampleModalToggle"
                                        data-bs-toggle="modal">공구 개설하기</button>
                                </div>
                                <!-- ~ 공구 개설 Modal-->
                            </div>
                        </div>
                    </div>
                    <!-- ~ 물품 설명 영역 -->
                </div>

            </div>

            <!-- 물품 상세 영역 ~  -->
            <div class="tabs_section_container">

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="tabs_container">
                                <ul
                                    class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                                    <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                                    <!-- <li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li> -->
                                    <li class="tab" data-active-tab="tab_3"><span>Reviews</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="tab_1" class="tab_container active">
                                <div class="row">
                                    <div class="col-lg-5 desc_col">
                                        <div class="tab_title">
                                            <h4>Description</h4>
                                        </div>
                                        <div class="tab_text_block">
                                            <h2>Pocket cotton sweatshirt</h2>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud
                                                felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...
                                            </p>
                                        </div>
                                        <div class="tab_image">
                                            <img th:src="@{/images/km/desc_1.jpg}">
                                        </div>
                                        <div class="tab_text_block">
                                            <h2>Pocket cotton sweatshirt</h2>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud
                                                felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 offset-lg-2 desc_col">
                                        <div class="tab_image">
                                            <img th:src="@{/images/km/desc_2.jpg}">
                                        </div>
                                        <div class="tab_text_block">
                                            <h2>Pocket cotton sweatshirt</h2>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud
                                                felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...
                                            </p>
                                        </div>
                                        <div class="tab_image desc_last">
                                            <img th:src="@{/images/km/desc_3.jpg}">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div id="tab_3" class="tab_container">
                                <div class="row">

                                    <div class="col-lg-6 reviews_col">
                                        <div class="tab_title reviews_title">
                                            <h4>Reviews</h4>
                                        </div>

                                        <div class="user_review_container d-flex flex-column flex-sm-row">
                                            <div class="user">
                                                <div class="user_pic"></div>
                                                <div class="user_rating">
                                                    <ul class="star_rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review">
                                                <div class="review_date">27 Aug 2016</div>
                                                <div class="user_name">Brandon William</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>


                                        <div class="user_review_container d-flex flex-column flex-sm-row">
                                            <div class="user">
                                                <div class="user_pic"></div>
                                                <div class="user_rating">
                                                    <ul class="star_rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review">
                                                <div class="review_date">27 Aug 2016</div>
                                                <div class="user_name">Brandon William</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6 add_review_col">

                                        <div class="add_review">
                                            <form id="review_form" action="post">
                                                <div>
                                                    <h1>Add Review</h1>
                                                    <input id="review_name" class="form_input input_name" type="text"
                                                        name="name" placeholder="Name*" required="required"
                                                        data-error="Name is required.">
                                                    <input id="review_email" class="form_input input_email" type="email"
                                                        name="email" placeholder="Email*" required="required"
                                                        data-error="Valid email is required.">
                                                </div>
                                                <div>
                                                    <h1>Your Rating:</h1>
                                                    <ul class="user_star_rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                    <textarea id="review_message" class="input_review" name="message"
                                                        placeholder="Your Review" rows="4" required
                                                        data-error="Please, leave us a review."></textarea>
                                                </div>
                                                <div class="text-left text-sm-right">
                                                    <button id="review_submit" type="submit"
                                                        class="red_button review_submit_btn trans_300"
                                                        value="Submit">submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- ~ 물품 상세 영역 -->
        </div>
    </div>

    <!-- footer -->
    <th:block th:replace="~{/km/customer/footer :: footerHTML}"></th:block>



    <!-- script-->
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/js/km/jquery-ui.js}"></script>
    <script th:src="@{/js/km/single_custom.js}"></script>

    <script th:inline="javascript" type="text/javascript">
        
        // 카운트다운 타이머
        function CountDownTimer(dt, id) {
            var end = new Date(dt);
            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;
            function showRemaining() {
                var now = new Date();
                var distance = end - now;
                if (distance < 0) {
                    clearInterval(timer);
                    document.getElementById(id).innerHTML = '공구 종료';
                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);
                document.getElementById(id).innerHTML = days + '일 ';
                document.getElementById(id).innerHTML += hours + '시간 ';
                document.getElementById(id).innerHTML += minutes + '분 ';
                document.getElementById(id).innerHTML += seconds + '초';
            }
            timer = setInterval(showRemaining, 1000);
        }
        
        const tbody = document.getElementById('tbody');
        tbody.innerHTML = ''; // 초기화 해주기
        const list = /*[[${ purchaseList }]]*/"";

        console.log(list)
        // 하나씩 꺼내기
        for (let i=0; i<list.length; i++) {

            let tmp = list[i];

            var deadline = new Date(tmp.deadline);
            CountDownTimer(deadline, `clock${i}`);
            
            var price = Math.floor(tmp.itemPrice / tmp.participant);
            var price1 = price.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';

            console.log(tmp.deadline);
            console.log(price);
            console.log(price1);

            tbody.innerHTML +=
                `<tr>` +
                    `<td scope="row">${tmp.purchaseNo}</td>` +
                    `<td scope="row">${tmp.participant}</td>` +
                    `<td>${tmp.remainingPerson}</td>` +
                    `<td>${tmp.storageName}</td>` +
                    `<td>` + price1 + `</td>` +
                    '<td id="clock'+i+'">' + deadline + '</td>' +
                    `<td><button class="btn participant-btn">참여</button></td>` +
                `</tr>`;
        }; 
    </script>


</body>

</html>