<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 1인가구 공구문화 - 소분소분</title>
    <link rel="icon" th:href="@{/images/se/sobun.ico}">

    <th:block th:replace="~{/se/customer/header :: headerCSS}"></th:block>
    <th:block th:replace="~{/km/customer/footer :: footerCSS}"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/km/single_responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/km/selectitem.css}">
    <!-- font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* input {
            display: none;
        } */
    </style>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- axios (https://cdnjs.com/libraries/axios) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"
        integrity="sha512-nnNHpffPSgINrsR8ZAIgFUIMexORL5tPwsfktOTxVYSv+AUAILuFYWES8IHl+hhIhpFGlKvWFiz9ZEusrPcSBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- header -->
    <th:block th:replace="~{/se/customer/header :: headerHTML}"></th:block>

    <!-- 본문 영역 (padding-bottom은 건들면 안돼요ㅠㅠ footer랑 겹치는 문제 해결용임돵) -->
    <div style="padding-bottom: 300px; z-index: -10px;">

        <div class="super_container" style="margin-top: -100px;">
            <div class="container single_product_container">
                <div class="row">
                    <div class="col">
                        <!-- Breadcrumbs -->
                        <div class="breadcrumbs d-flex flex-row align-items-center">
                            <ul>
                                <li><span th:text="${item.LCATEGORYNAME}"></span></li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    <span th:text="${item.MCATEGORYNAME}"></span>
                                </li>
                                <li class="active">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    <a th:href="@{/customer/item/selectlist.do(scode=${item.SCATEGORYCODE})}"
                                        th:text="${item.SCATEGORYNAME}"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row" style="overflow-x:hidden;">
                    <!-- 물품 간단 사진 영역 ~ -->
                    <div class="col-lg-6">
                        <div class="single_product_image_background">
                            <th:block th:if="${imgList.size() > 0}">
                                <img th:src="@{/customer/image(no=${imgList[0]})}" alt="">
                            </th:block>
                            <th:block th:unless="${imgList.size() > 0}">
                                <img th:src="@{/customer/image}" alt="">
                            </th:block>
                        </div>
                    </div>
                    <!-- ~ 물품 간단 사진 영역 -->


                    <!-- 물품 설명 영역 ~ -->
                    <div class="col-lg-6">
                        <div class="product_details">
                            <div class="product_details_title">
                                <p th:text="${item.SELLERNAME}"></p>
                                <h2 class="mb-2" th:text="${item.ITEMNAME}"></h2>
                                
                                <div class="product_price"
                                    th:text="${#numbers.formatInteger(item.ITEMPRICE, 3, 'COMMA') + '원'}">
                                </div>

                                <button type="button" class="heartBtn" th:onclick="jjim([[${item.ITEMNO}]])" style="float: right;">
                                    <!-- 찜 안한 상태, 로그인 안한 상태 => fa-regular-->
                                    <i class="fa-regular fa-heart heartIcon" id="blankHeart" style="display: none;"></i>
                                    <!-- 찜 한 상태 => fa-solid -->
                                    <i class="fa-solid fa-heart heartIcon" id="fillHeart" style="display: none;"></i>
                                </button>
                            </div>
                            <!-- 열린 공구 영역 ~ -->
                            <div class="tablediv">
                                <table class="table table-hover scrolltable">
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">참여인원</th>
                                            <th scope="col">남은인원</th>
                                            <th scope="col">수령지점</th>
                                            <th scope="col">인당가격</th>
                                            <th scope="col">남은시간</th>
                                            <th scope="col">공구참여</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">

                                    </tbody>
                                </table>
                            </div>
                            <!-- ~ 열린 공구 영역 -->

                            <div
                                class="quantity d-flex flex-column flex-sm-row align-items-sm-center justify-content-center">

                                <!-- 공구 개설 modal ~ -->
                                <div class="red_button add_to_cart_button">
                                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">참여인원,
                                                        수령지점을 선택해주세요.
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/customer/item/selectone1.do}" method="post"
                                                        id="form2">
                                                        <div class="modal-participant">
                                                            <span>참여인원</span>
                                                            <span class="minus">-</span>
                                                            <span class="participant">2</span>
                                                            <input type="hidden" name="participant" value="2"
                                                                id="input-participant">
                                                            <span class="plus">+</span>
                                                        </div>

                                                        <div class="modal-storage">
                                                            <span>수령지점</span>
                                                            <select id="select" name="storageNo">
                                                                <option value="0" selected>---[필수 선택]---</option>
                                                                <option th:each="tmp:${storage}" name="storageNo"
                                                                    th:value="${tmp.no}" th:text="${tmp.name}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="modal-totalcost">
                                                            <span>인당 물품가격</span>
                                                            <span id="totalcost"></span>
                                                        </div>
                                                        <input type="hidden" name="itemNo" th:value="${item.ITEMNO}">

                                                </div>
                                                </form>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn open-btn"
                                                        onclick="openPurchase()">개설하기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn open-btn" data-bs-target="#exampleModalToggle"
                                        data-bs-toggle="modal">공구 개설하기</button>
                                </div>
                                <!-- ~ 공구 개설 Modal-->
                            </div>
                        </div>
                    </div>
                    <!-- ~ 물품 간단 설명 영역 -->
                </div>

            </div>

            <!-- 하단 영역 ~  -->
            <div class="tabs_section_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="tabs_container">
                                <ul
                                    class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                                    <li class="tab tab_li_detail" data-active-tab="tab_1" value="detail"><span>물품상세</span></li>
                                    <li class="tab tab_li_review" data-active-tab="tab_3" value="review"><span>리뷰</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- 물품상세 영역 ~  -->
                            <div id="tab_1" class="tab_container tab_detail">
                                <div class="row">
                                    <div class="col-lg-12 desc_col">
                                        <h4 class="tab_title">Description</h4>
                                    </div>
                                    <div class="col-lg-12 desc_col">
                                        <div class="tab_image">
                                            <th:block th:if="${imgList.size() > 1}">
                                                <img th:src="@{/customer/image(no=${imgList[1]})}">
                                            </th:block>
                                            <th:block th:unless="${imgList.size() > 1}">
                                                <img th:src="@{/customer/image}" alt="">
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ~ 물품상세 영역 -->

                            <!-- 리뷰 영역 ~ -->
                            <div id="tab_3" class="tab_container tab_review">
                                <div class="row">

                                    <div class="col-lg-12 reviews_col">
                                        
                                        <div class="container enterReview-container">
                                            <h4 class="tab_title reviews_title">Reviews</h4>
                                            <button type="button" onclick="CheckReview()">리뷰 등록하기</button>
                                        </div>

                                        <th:block th:if="${reviewList != null}">

                                            <div class="container" id="reviews-container">
                                                <div class="orderby">
                                                    <a th:href="@{/customer/item/selectone.do(itemno=${item.ITEMNO}, tab=review, orderby=,page=1)}"
                                                        id="orderbydate">최신순</a>
                                                    <a th:href="@{/customer/item/selectone.do(itemno=${item.ITEMNO}, tab=review, orderby=rating,page=1)}"
                                                        id="orderbyrating">평점순</a>
                                                </div>

                                                <div th:each="obj : ${reviewList}" class="review_inquire">
                                                    <span th:text="|리뷰 번호 : ${obj.no}|"></span>&nbsp;&nbsp;
                                                    <!-- <span th:text="|작성자 : ${obj.purchaseOrderEntity.customerEntity.id}|"></span> -->
                                                    <span th:text="'작성자 : ' + *{#strings.substring(obj.purchaseOrderEntity.customerEntity.id, 0, 2)} + '***'"></span>
                                                    <div>
                                                        <span th:if="${obj.imgUrl1 != null}">
                                                            <img class="reviewImg" th:src="${obj.imgUrl1}">
                                                        </span>
                                                        <span th:if="${obj.imgUrl2 != null}">
                                                            <img class="reviewImg" th:src="${obj.imgUrl2}">
                                                        </span>
                                                    </div>
                                                    <span th:each="i : ${#numbers.sequence(1, obj.rating)}">
                                                        <i class="fas fa-star" style="color: rgb(238, 191, 130);"></i>
                                                    </span>
                                                    <div th:text="${obj.comment}"></div>
                                                    
                                                    <hr>
                                                </div>
                                                
                                            </div>
                                            
                                            <!-- 리뷰 페이지네이션 ~  -->
                                            <div class="container" id="pagination-container">
                                                <ul class="pageul">
                                                    <li th:if="${currentPage > 1}">
                                                        <a th:href="@{/customer/item/selectone.do(itemno=${item.ITEMNO}, tab='review', orderby=${param.orderby}, page=1)}">
                                                            <i class="fa-solid fa-angles-left fa-2xs"></i>
                                                        </a>
                                                    </li>
                                                    <li th:if="${currentPage > 1}">
                                                        <a th:href="@{/customer/item/selectone.do(itemno=${item.ITEMNO}, tab='review', orderby=${param.orderby}, page=${currentPage-1})}">
                                                            <i class="fa-solid fa-angle-left fa-2xs"></i>
                                                        </a>
                                                    </li>
                                                    <li th:each="num : ${#numbers.sequence(startPage, endPage)}"
                                                        th:class="${num == currentPage ? 'active' : ''}">
                                                        <a th:href="@{/customer/item/selectone.do(itemno=${item.ITEMNO}, tab='review', orderby=${param.orderby}, page=${num})}" th:text="${num}"></a>
                                                    </li>
                                                    <li th:if="${currentPage < pages}">
                                                        <a th:href="@{/customer/item/selectone.do(itemno=${item.ITEMNO}, tab='review', orderby=${param.orderby}, page=${currentPage+1})}">
                                                            <i class="fa-solid fa-angle-right fa-2xs"></i>
                                                        </a>
                                                    </li>
                                                    <li th:if="${currentPage < pages}">
                                                        <a th:href="@{/customer/item/selectone.do(itemno=${item.ITEMNO}, tab='review', orderby=${param.orderby}, page=${pages})}">
                                                            <i class="fa-solid fa-angles-right fa-2xs"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- ~ 리뷰 페이지네이션  -->
                                        </th:block>
                                    </div>

                                </div>
                            </div>
                            <!-- ~ 리뷰 영역 ~ -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- ~ 하단 영역 -->
        </div>
    </div>



    <!-- 리뷰 모달 ~ -->
    <!-- <form th:a="@{/customer/enterreview.do}" method="post" id="form1" enctype="multipart/form-data"> -->
    <div class="popup" id="myPopup" aria-hidden="true" onClick="if(event.target == this){closePopup('#myPopup');}">
        <div class="wrapper" aria-labelledby="popupTitle" aria-describedby="popupText" aria-modal="true">
            <div class="popupTitle">
                <div id="popupTitle">리뷰 작성</div>
                <!-- <h2 id="popupTitle">리뷰 작성</h2> -->
                <button type="button" onclick="closePopup('#myPopup')">
                    <img th:src="@{/images/km/close.png}">
                </button>
            </div>
            <div class="popup__img">
                <th:block th:if="${imgList.size() > 0}">
                    <img th:src="@{/customer/image(no=${imgList[0]})}">
                </th:block>
                <th:block th:unless="${imgList.size() > 0}">
                    <img th:src="@{/customer/image}" alt="">
                </th:block>
            </div>
            <div class="popup__itemname">
                <p th:text="${item.ITEMNAME}"></p>
            </div>
            <div class="popup__rating">
                <fieldset>
                    <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">★</label>
                    <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">★</label>
                    <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">★</label>
                    <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">★</label>
                    <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">★</label>
                </fieldset>
            </div>
            <hr>
            <div class="popup__comment">
                <textarea name="comment" id="comment" cols="50" rows="10"></textarea>
            </div>

            <div class="popup__reviewimg">
                <div class="popup__reviewimage0" style="display: inline-block;">
                    <!-- <a href="https://www.flaticon.com/kr/free-icons/img" title="img 아이콘">Img 아이콘  제작자: POD Gladiator - Flaticon</a> -->
                    <img class="mb-3" th:src="@{/images/km/reviewImage.png}" id="img" onclick="clickImage()">
                    <input type="file" name="file" id="file" class="form-control" onchange="imageChange(this)"
                        style="display:none" accept="image/*">
                </div>
                <div class="popup__reviewimage1" style="display: inline-block;">
                    <input type="file" name="file1" id="file1" onchange="imageChange(this)" style="display:none"
                        accept="image/*">
                    <img id="img1" th:src="@{/images/noimage.jpg}">
                    <button type="button" onclick="removeImage(1)" id="img1Btn">
                        <img th:src="@{/images/km/close.png}" alt="" style="width: 20px;">
                    </button>
                </div>
                <div class="popup__reviewimage2" style="display: inline-block;">
                    <input type="file" name="file2" id="file2" onchange="imageChange(this)" style="display:none"
                        accept="image/*">
                    <img id="img2" th:src="@{/images/noimage.jpg}">
                    <button type="button" onclick="removeImage(2)" id="img2Btn">
                        <img th:src="@{/images/km/close.png}" alt="" style="width: 20px;">
                    </button>
                </div>
            </div>

            <button type="button" id="closePopup" onClick="closePopup('#myPopup');"
                aria-label="Close popup">Close</button>
            <button type="button" id="enterReview" onClick="writeReview()">등록하기</button>
        </div>
    </div>
    <!-- </form> -->
    <!-- ~ 리뷰 모달 -->


    <!-- footer -->
    <th:block th:replace="~{/km/customer/footer :: footerHTML}"></th:block>


    <!-- script-->
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/js/km/jquery-ui.js}"></script>
    <script th:src="@{/js/km/single_custom.js}"></script>

    <script th:inline="javascript" type="text/javascript">

        var jjim1 = /*[[${jjim}]]*/"";
        if(jjim1 == 1) {
            // 찜 된 상태
            fillHeart.style.display = "block";
        } else if(jjim1 == 0) {
            // 찜 안된 상태
            blankHeart.style.display = "block";
        }

        var username = "";
        var user = /*[[${user}]]*/"";

        if (user != null) {
            username = user.username;
        }
        console.log("username 확인 => {", username, "}")

        // --------------------------------------------------------------------------------------------
        

        // 찜 기능 구현 => user null 인 상태면 로그인 먼저 시키기
        async function jjim(itemno) {
            
            if (user == null) {
                if (confirm('로그인이 필요한 서비스입니다. 로그인하시겠습니까?')) {
                    location.replace(/*[[@{/customer/login.do}]]*/"");
                }

            } else { 
                let jjim = /*[[${jjim}]]*/"";

                if(jjim == 1) {
                    console.log(jjim + " 찜 된 상태");
                    
                } else if( jjim == 0) {
                    console.log(jjim + " 찜 안된 상태");
                    
                }

                const url = /*[[@{/api/customer/jjim.km}]]*/"";
                const headers = {"Content-Type":"application/json"};
                const body = {customerEntity:{id : username}, itemEntity : {no:itemno}};
                const { data } = await axios.post(url, body, {headers:headers});
                console.log("반환되는 결과", data);

                if(data.result == 1 && data.jjimState == 1) {
                    // 하트 채우기 (찜 된 상태)
                    console.log("가나다라맞바사", data);
                    fillHeart.style.display = "block";
                    blankHeart.style.display = "none";
                } else if(data.result == 1 && data.jjimState == 0) {
                    // 하트 비우기 (찜 안된 상태)
                    console.log("아자차카타파하", data);
                    blankHeart.style.display = "block";
                    fillHeart.style.display = "none";
                }

            }

            
        }

        // ------------------------------------------------------------------------------------------

        // 카운트다운 타이머
        function CountDownTimer(dt, id) {
            var end = new Date(dt);
            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;
            function showRemaining() {
                var now = new Date();
                var distance = end - now;
                if (distance < 0) {
                    clearInterval(timer);
                    document.getElementById(id).innerHTML = '공구 종료';
                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);
                document.getElementById(id).innerHTML = days + '일 ';
                document.getElementById(id).innerHTML += hours + '시간 ';
                document.getElementById(id).innerHTML += minutes + '분 ';
                document.getElementById(id).innerHTML += seconds + '초';
            }
            timer = setInterval(showRemaining, 1000);
        }

        // 열린 공구 목록 (tbody) 추가
        const tbody = document.getElementById('tbody');
        tbody.innerHTML = ''; // 초기화 해주기
        const list = /*[[${ purchaseList }]]*/"";
        const itemprice = /*[[${item.ITEMPRICE}]]*/"";

        

        // 하나씩 꺼내기
        if (list != null) {
            for (let i = 0; i < list.length; i++) {

                let tmp = list[i];

                var deadline = new Date(tmp.deadline);
                CountDownTimer(deadline, `clock${i}`);

                var totalPrice = Math.floor(itemprice / tmp.participant);
                var price1 = totalPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';

                console.log(tmp.deadline);
                console.log(totalPrice);

                tbody.innerHTML +=
                    `<tr>` +
                    `<td scope="row">${tmp.purchaseNo}</td>` +
                    `<input type="text" name="purchaseNo" value="${tmp.purchaseNo}" style="display:none;">` +
                    `<td scope="row">${tmp.participant}</td>` +
                    `<td>${tmp.remainingPerson}</td>` +
                    `<td>${tmp.storageName}</td>` +
                    `<td>` + price1 + `</td>` +
                    '<td id="clock' + i + '">' + deadline + '</td>' +
                    `<td><input type='button' class="btn participant-btn" value="참여" 
                                    onclick="participate(${tmp.purchaseNo},${Math.floor(itemprice / tmp.participant)})" 
                                    id="participateBtn` + i + `" ></td>` +
                    `</tr>`;

                const participateBtn = document.querySelector("#participateBtn" + i);

                for (let j = 0; j < tmp.memIdList.length; j++) {

                    if (tmp.memIdList[j] === username) {
                        participateBtn.disabled = true;
                        participateBtn.value = "참여중";
                    }
                }
            };
        };

        // ----------------------------------------------------------------------------------------

        // 공구개설 Modal -> participant 숫자 증감
        const plus = document.querySelector(".plus");
        const minus = document.querySelector(".minus");
        var participant = document.querySelector(".participant");
        let a = 2;

        var totalcost = document.querySelector('#totalcost');
        totalcost.innerHTML = (itemprice / a).toLocaleString() + '원';
        var input_participant = document.querySelector('#input-participant');

        plus.addEventListener("click", () => {
            if (a < 5) {
                a++;
                participant.innerHTML = a;
                input_participant.value = a;
            } else {
                alert('최대 5명까지만 선택 가능합니다.')
            }
            totalcost.innerHTML = (Math.floor(itemprice / a)).toLocaleString() + '원';
            console.log(input_participant.value);
        })
        minus.addEventListener("click", () => {
            if (a > 2) {
                a--;
                participant.innerHTML = a;
                input_participant.value = a;
            } else {
                alert('2명 이상 선택 가능합니다.')
            }
            totalcost.innerHTML = (Math.floor(itemprice / a)).toLocaleString() + '원';
            console.log(input_participant.value);
        });

        const itemNO = /*[[${item.ITEMNO}]]*/"";

        // --------------------------------------------------------------------------------

        // 공구 개설 버튼
        function openPurchase() {
            // participante는 위의 addEventListener에서 처리함

            // 여기에다가 유효성 검사실시
            const select = document.querySelector('#select');

            if (select.options[select.selectedIndex].value == 0) {
                alert('수령지점을 선택해주세요.');
                return;
            }

            if (confirm('공구 개설하시겠습니까?')) {

                document.querySelector('#form2').submit();
            } else {
                return;
            }
        }

        // ---------------------------------------------------------------------------------------------


        // 공구 참여 버튼
        function participate(purchaseNo) {
            console.log(purchaseNo);

            if (confirm('공구 참여하시겠습니까?')) {
                const form = document.createElement("form");
                form.action = /*[[@{/customer/item/selectone1.do}]]*/"";
                form.style.display = "none";
                form.method = "post";

                const input1 = document.createElement("input");
                input1.type = "hidden";
                input1.name = "_csrf";
                input1.value = /*[[${_csrf.token}]]*/"";

                const input2 = document.createElement("input");
                input2.type = "hidden";
                input2.name = "purchaseNo";
                input2.value = purchaseNo;

                form.appendChild(input1);
                form.appendChild(input2);

                document.body.appendChild(form);

                form.submit();
            } else {
                return;
            }
        }

        // --------------------------------------------------------------------------------------------

        var orderNo = 0;
        // CheckReveiw() 함수에서 orderNo 알아오고 
        // writeReview() 함수에서 Reviw 작성을 위해 orderNo를 건네줘야함

        // 리뷰 작성 시 조건 확인하기
        async function CheckReview() {
            // 로그인 체크 먼저하기

            if (user == null) {
                if (confirm('로그인이 필요한 서비스입니다. 로그인하시겠습니까?')) {
                    location.replace(/*[[@{/customer/login.do}]]*/"");
                }

            } else {
                const url = [[@{/api/customer/checkReview.json}]] + `?id=${user.username}` + `&itemno=` + itemNO;
                console.log(url);
                const headers = { "Content-Type": "application/json" };
                const { data } = await axios.get(url, { headers: headers });

                console.log("반환값 확인", data);

                if (data.reviewCount == 0) {
                    // reviewCount = 0이면 리뷰 작성 모달창 띄우기
                    orderNo = data.orderNo;
                    openPopup('#myPopup');

                } else if (data.reviewCount == 1) {
                    // reviewCount = 1이면 작성 가능 리뷰 없음
                    alert('작성 가능한 리뷰가 없습니다.');

                }

            }
        }

        // ----------------------------------------------------------------------------------------------
        // 리뷰 모달 띄우기
        function openPopup(popup) {
            $(popup).show().attr("aria-hidden", "false");
            $("#closePopup").focus();
        }

        // 리뷰 모달 닫기
        function closePopup(popup) {
            $(popup).hide().attr("aria-hidden", "true");
            $("#openMyPopup").focus();
        }


        var img1 = document.getElementById('img1');
        var img2 = document.getElementById('img2');
        const img1Btn = document.getElementById('img1Btn');
        const img2Btn = document.getElementById('img2Btn');

        const noimage = /*[[@{/images/noimage.jpg}]]*/"";

        // 리뷰 사진 누르기
        function clickImage() {
            // console.log(noimage); // /SOBUN/images/noimage.jpg
            // console.log("image태그의 src => ", img1.src); // /
    
            if (!img1.src.includes("/SOBUN/images/noimage.jpg") && !img2.src.includes("/SOBUN/images/noimage.jpg")) {
                alert('이미지는 최대 2장까지 첨부가능합니다.');
                false;
            } else if (img1.src.includes("/SOBUN/images/noimage.jpg")) {
                document.getElementById("file1").click();
            } else if (!img1.src.includes("/SOBUN/images/noimage.jpg") && img2.src.includes("/SOBUN/images/noimage.jpg")) {
                document.getElementById("file2").click();
            }
        }
        
        // 배열로 만들기

        // 사진 선택하면 보이기
        function imageChange(e) {
            console.log(e.files);
            // 파일을 첨부하면 크롬에서 blob:http://127.0.0.1:8080/b8308e93-a1b3-4b.... 가상의 url을 만들어줌
            if (img1.src.includes("/SOBUN/images/noimage.jpg")) {
                img1.src = URL.createObjectURL(e.files[0]); // 가상의 url 정보를 생성해서 추가함
                img1.style.display = 'inline-block';
                img1Btn.style.display = 'inline-block';
                document.querySelector("#img").style.marginTop = "-48px";
            } else {
                img2.src = URL.createObjectURL(e.files[0]); // 가상의 url 정보를 생성해서 추가함
                img2.style.display = 'inline-block';
                img2Btn.style.display = 'inline-block';
            }
        }

        // 첨부한 리뷰 사진 지우기
        function removeImage(imageNo) {
            
            if(imageNo == 1) {
                if(img2.src.includes("/SOBUN/images/noimage.jpg")) {
                    // img2가 없는 상태 => 사진 다 없애기
                    img1.src = noimage;
                    img1.style.display = "none";
                    img1Btn.style.display = 'none';
                    document.querySelector("#img").style.marginTop = "0";
                } else {
                    // img2가 있는 상태에서 1만 지우기
                    img1.src = img2.src;
                    console.log("1111111");
                }
            }

            // image2의 src를 ""로 처리한다.
            img2.src = noimage;
            img2.style.display = "none";
            img2Btn.style.display = 'none';
        }

        // 리뷰 - 최신순, 평점순 클래스(active) 추가
        const orderby = [[${param.orderby}]];

        const orderbydate = document.getElementById("orderbydate");
        const orderbyrating = document.getElementById("orderbyrating");
        if(orderby == '') {
            console.log("가나다");
            orderbydate.classList.add('active');
            orderbyrating.classList.remove('active');
        } else if(orderby != null && orderby[0] == 'rating') {
            console.log("라마바orderby");
            orderbyrating.classList.add('active');
            orderbydate.classList.remove('active');
        }

        // 리뷰 작성하기
        async function writeReview() {

            const ratingElement = document.querySelector('input[name="rating"]:checked');
            const rating = ratingElement ? ratingElement.value : null;
            const comment = document.querySelector('#comment').value;
            const file1 = document.querySelector('#file1').files[0];
            const file2 = document.querySelector('#file2').files[0];

            console.log('별점', rating);
            console.log('평가', comment);

            if (rating === null) {
                alert('별점을 선택해주세요~');
                false;
            } else if (comment.length < 10) {
                alert('10자 이상 작성 부탁드려요~~');
                false;
            } else if (confirm('리뷰 등록할까요?')) {

                // rest로 보내기
                const url = /*[[@{/api/customer/enterreview.json}]]*/"";
                const headers = { "Content-Type": "multipart/form-data" };

                const formData = new FormData();
                formData.append("rating", rating);
                formData.append("comment", comment);
                formData.append("orderNo", orderNo);
                formData.append("itemNo", itemNO);

                if (file1 !== null) {
                    formData.append("file1", file1);
                }
                if (file2 !== null) {
                    formData.append("file2", file2);
                }

                const { data } = await axios.post(url, formData, { headers: headers });
                console.log("반환되는 결과", data);

                    if (data.result == 200) {
                        alert("리뷰 등록이 완료되었습니다.");
                        location.replace([[@{/customer/item/selectone.do}]]+ "?itemno=" + [[${item.ITEMNO}]]);
                } else {
                    alert("뭔가 잘못됨");
                }
            }
        }

        // 새로고침 시 스크롤 위치 기억 => 근데 location.href로는 안되는구나..
        history.scrollRestoration = "auto";

        // 주소창의 tab의 value에 따라 tab_container active 처리
        const tabCheck = [[${param.tab}]];
        function initTabs() {

            var tabs = $('.tabs li');
            var tabContainers = $('.tab_container');

            tabs.each(function() {
                var tab = $(this);
                var tab_id = tab.data('active-tab');

                if(tabCheck === null || tabCheck[0] === "detail") {
                    $('.tab_detail').addClass('active');
                    $('.tab_li_detail').addClass('active');
                } else if (tabCheck[0] === "review") {
                    $('.tab_review').addClass('active');
                    $('.tab_li_review').addClass('active');
                }

                tab.on('click', function() {
                    if(!tab.hasClass('active'))
                    {
                        tabs.removeClass('active');
                        tabContainers.removeClass('active');
                        tab.addClass('active');
                        $('#' + tab_id).addClass('active');

                        if(tabCheck === null || tabCheck[0] === "detail") {
                            // 리뷰 영역 보이기
                            location.href="/SOBUN/customer/item/selectone.do?itemno=" + [[${item.ITEMNO}]] + '&tab=review&orderby&page=1';
                            // /customer/item/selectone.do(itemno=${item.ITEMNO}, tab='review', orderby=${param.orderby}, page=${num})
                        } else if(tabCheck[0] === "review") {
                            // 상세 영역 보이기
                            location.href="/SOBUN/customer/item/selectone.do?itemno=" + [[${item.ITEMNO}]] + '&tab=detail';
                        }
                    }
                });
            });
        }

        

        initTabs();

    </script>


</body>

</html>