<th:block th:fragment="footerHTML">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid py-5">
            <div class="d-flex justify-content-between align-items-center small">
                <div class="text-muted">
                    <strong>소분소분</strong>에 대한 모든 권리는 소분소분에 속해 있습니다. PKNU 2023.
                </div>
                <div>
                    &middot; 판매자콜센터 1577-0000 <a href="#!">개인정보 처리방침</a> &middot; <a href="#!">이용약관</a> &amp; <a href="#!">사용 조건</a> &middot; <a
                        href="#!">문의하기</a> 
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3 small">
                <div style="font-size: small;">
                    <a href="#!">자주 묻는 질문</a> &middot; <a href="#!">배송 및 반품</a> &middot; <a href="#!">이용안내</a>
                </div>
                <div>
                    <a href="#!">Facebook</a> &middot; <a href="#!">Instagram</a> &middot; <a href="#!">Twitter</a>
                    &middot; <a href="#!">YouTube</a>
                </div>
            </div>
        </div>
    </footer>
</th:block>