<th:block th:fragment="headerHTML">
    <!-- 네비게이션 영역 -->
    <nav class="sb-topnav navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow ">
        <!-- Navbar Brand -->
        <a class="navbar-brand ps-3" th:href="@{/seller/home.do}" style="margin-right: 12px;">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools"
            viewBox="0 0 16 16">
            <path
                d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
        </svg> -->
            <img th:src="@{/images/jk/logo2.png}" style="width: 95px;" />
                <strong style="font-size: 18px;">판매자 페이지</strong>
            
        </a>

        <!-- SideBar Toggle -->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" type="button">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- serach bar ( 프로필 버튼 우측 고정용 ) -->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
            </div>
        </form>

        <!-- Profile 영역 -->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="profile" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i></a>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="profile">
                    <li><a class="dropdown-item" onclick="pwCheck1()"><i class="fas fa-cog"></i> 내 정보
                            설정</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <form id="logout_Form" th:action="@{/logout.do}" method="post">
                        <li><a class="dropdown-item" th:onclick="logoutAction()"><i class="fas fa-sign-out"></i>
                                로그아웃</a></li>
                    </form>
                </ul>
            </li>
        </ul>
    </nav>
    <script>
        async function pwCheck1() {
            let url = /*[[@{/api/sellerpwcheck.json}]]*/"";
            url += `?redirect=updateinfo`;

            const headers = { "Content-Type": "application/json" };
            const { data } = await axios.get(url, { headers: headers });
            console.log('반환되는 결과', data);

            window.location.href = /*[[@{/seller/pwinfocheck.do?redirect=updateinfo.do}]]*/ + "";
        }

        function logoutAction() {
            $("#logout_Form").submit();
        }
    </script>
</th:block>