<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/jk/sobunseller.ico}">
    <title>소분소분 - 업체 회원가입</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/jk/seller_loginStyle.css}'>
</head>

<body style="margin-top: 60px">
    <div>
        <div class="text-center">
            <img th:src="@{/images/jk/logo1.png}" class="img-fluid mx-auto d-block" style="max-width: 350px;">
        </div>
        <div class="text-center">
            <h4 class="login-heading">판매자 전용 페이지</h4>
        </div>

        <form id="form" th:action="@{/seller/join.do}" method="post">
            <div class="row">
                <div class="col-sm">
                    <hr />
                    <div class="form-floating mb-2">
                        <input type="number" id="id" name="no" class="form-control" onblur="ajaxIDCheck(this)"> <label
                            for="id" id="lbl_check" class="form-label">사업자번호 ( "-"는 생략 )</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" id="pw" name="pw" class="form-control" onkeydown="capsLockCheck(event)" required /> <label for="pw"
                            id="lbl_pw" class="form-label">암호</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" id="pw1" class="form-control" onblur="pwCheck()" required />
                        <label for="pw1" id="lbl_pwCheck" class="form-label">암호재확인</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" id="name" name="name" class="form-control" required /> <label for="name"
                            class="form-label">업체명</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="number" id="phone" name="phone" class="form-control" />
                        <label for="phone" class="form-label">연락처 ( "-"는 생략 )</label>
                    </div>
                    <hr />
                    <div class="form-floating mb-2">
                        <div class="input-group">
                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="email@example.com" />
                            <button type="button" id="emailVerificationBtn" class="btn btn-dark"
                                onclick="enableEmailVerification()">이메일 인증</button>
                        </div>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" id="verificationCode" name="verificationCode" class="form-control" hidden />
                        <label for="verificationCode" id="lbl_verificationCode" class="form-label" hidden>이메일 인증
                            코드</label>
                    </div>

                    <div class="container text-center d-grid gap-2" style="padding: 0;">
                        <input type="button" id="verButton" class="btn btn-dark mb-3" value="인증 확인"
                            onclick="emailCodeCheck()" hidden>
                    </div>
                    <hr />
                    <div class="container text-center d-grid gap-2" style="padding: 0;">
                        <input type="button" class="btn btn-dark mb-3" onclick="sample6_execDaumPostcode()"
                            value="내주소 찾기">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="address1" class="form-control" id="sample6_postcode"
                                    placeholder="우편번호" readonly style="background-color: #e9ecef;">
                            </div>
                            <div class="col">
                                <input type="text" name="address2" id="sample6_address" class="form-control"
                                    placeholder="주소" readonly style="background-color: #e9ecef;">
                            </div>
                        </div>
                        <input type="text" name="address3" class="form-control" id="sample6_detailAddress"
                            placeholder="상세주소" disabled>
                        <input type="text" name="address4" class="form-control" id="sample6_extraAddress"
                            placeholder="추가정보" hidden>
                    </div>
                    <hr />
                    <div class="container text-center d-grid gap-2" style="padding: 0;">
                        <!-- 여기서 type을 submit으로 잡고 유효성 검사를 하게되면 강제로 데이터가 넘어가기 때문에 button으로 지정해주어야 함! -->
                        <input type="button" id="joinButton" value="가입하기" class="btn btn-dark" onclick="joinAction()" />
                        <a th:href="@{/seller/login.do}" class="btn btn-outline-secondary">로그인 화면으로</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <!-- Daum 주소찾기 CDN -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script th:inline="javascript">

        var id = document.getElementById("id");
        var pw = document.getElementById("pw");
        var pw1 = document.getElementById("pw1");
        var name = document.getElementById("name");
        var emailadr = document.getElementById("email");
        var sample6_postcode = document.getElementById("sample6_postcode");
        var form = document.getElementById("form");
        var code = document.getElementById("verificationCode");
        var joinButton = document.getElementById("joinButton");
        var checkCode = 0; // 인증여부 확인용 변수

        function joinAction() {
            //변수에 담아주기



            if (id.value == "") { // 해당 입력값이 없을 경우 같은말: if(!id.value)
                alert("사업자번호(아이디)를 입력해주세요.");
                id.focus(); //focus(): 커서가 깜빡이는 현상, blur(): 커서가 사라지는 현상

                return false; //return: 반환하다 return false:  아무것도 반환하지 말아라 아래 코드부터 아무것도 진행하지 말것
            };


            if (id.value.length != 10) { // 사업자번호가 10자리인지
                alert("사업자번호가 10자리인지 확인해주세요.");
                id.focus();
                return false;
            };

            if (pw.value == "") { // 암호가 입력됐는지
                alert("비밀번호를 입력해주세요.");
                pw.focus();
                return false;
            };

            if (pw.value == "") { // 암호가 입력됐는지
                alert("비밀번호 확인을 입력해주세요.");
                pw.focus();
                return false;
            };

            //비밀번호 영문자+숫자+특수조합(8~25자리 입력) 정규식
            var pwCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

            if (!pwCheck.test(pw.value)) { // 암호와 암호재확인값이 일치하는지
                alert("비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다.");
                pw.focus();
                return false;
            };

            if (pw1.value !== pw.value) { // 암호가 서로 일치하는지
                alert("비밀번호가 서로 일치하지 않습니다.");
                pw1.focus();
                return false;
            };

            if (name.value == "") { // 이름이 입력됐는지
                alert("업체 이름을 입력해주세요.");
                name.focus();
                return false;
            };

            if (emailadr.value == "") { // 이메일이 입력됐는지
                alert("이메일 주소를 입력해주세요.");
                emailadr.focus();
                return false;
            }

            if (code.value == "") { // 인증코드가 입력됐는지
                alert("인증코드를 입력해주세요.");
                code.focus();
                return false;
            }

            if (sample6_postcode.value == "") { // 주소가 입력됐는지 (adr1과 adr2는 한번에 같이 입력되기때문에 adr1만 체크.)
                alert("업체 주소를 입력해주세요.");
                sample6_postcode.focus();
                return false;
            }

            if (checkCode === 0) {
                alert("이메일 인증을 진행해주세요.");
                code.focus();
                return false;
            }
            else {
                alert("회원가입이 완료되었습니다.\n새로가입한 정보로 로그인해주세요.");
                //입력 값 전송
                form.submit(); //유효성 검사의 포인트   
            }


        }

        async function ajaxIDCheck(e) {
            // console.log(e.value);
            if (e.value.length > 0) {
                // rest api 호출
                var url = /*[[@{/api/selleridcheck.json}]]*/"";
                url += `?id=${e.value}`
                // console.log(e.value);
                // console.log( url );

                const headers = { "Content-Type": "application/json" };
                const { data } = await axios.get(url, { headers: headers });
                // console.log(data);

                if (data.chk === 1) {
                    idcheck = 0;
                    document.getElementById("lbl_check").innerText = '이미 사용중인 사업자번호입니다!';
                    document.getElementById("lbl_check").style.color = 'red';
                    document.getElementById("id").className = 'form-control is-invalid';
                } else if (data.chk === 0) {
                    document.getElementById("lbl_check").innerText = '사업자번호 ( "-"는 생략 )';
                    document.getElementById("lbl_check").style.color = 'gray';
                    document.getElementById("id").className = 'form-control';
                }
                else {
                    document.getElementById("lbl_check").innerText = '사업자번호 ( "-"는 생략 )';
                    document.getElementById("lbl_check").style.color = 'gray';
                    document.getElementById("id").className = 'form-control';
                }
            }
        }

        // 비밀번호 확인
        const pwCheck = () => {
            const pw = document.getElementById("pw");
            const pw1 = document.getElementById("pw1");

            if (pw1.value.length < 8) {
                document.getElementById("companyNewPwChk").innerText = "새 비밀번호 확인";
                document.getElementById("companyNewPwChk").style.color = 'gray';
            }
            if (pw.value !== pw1.value) {
                document.getElementById("lbl_pwCheck").innerText = "암호가 일치하지 않습니다.";
                document.getElementById("lbl_pwCheck").style.color = 'red';
            }
            else {
                document.getElementById("lbl_pwCheck").innerText = "암호가 일치합니다.";
                document.getElementById("lbl_pwCheck").style.color = '#5e89ef';
            }
        }


        function sample6_execDaumPostcode() {
            new daum.Postcode(
                {
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // '1'== 1   '1'=== 1 엄격한 비교 (=세개짜리는)
                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            // 정규식, 정규표현식 패털을 찾아서
                            // ex) 사용자가 입력한 이메일 주소가 정확한지 확인
                            if (data.bname !== ''
                                && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== ''
                                && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', '
                                    + data.buildingName
                                    : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("sample6_extraAddress").value = extraAddr;

                        } else {
                            document.getElementById("sample6_extraAddress").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample6_postcode').value = data.zonecode;
                        document.getElementById("sample6_address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample6_detailAddress")
                            .disabled = false;
                        document.getElementById("sample6_detailAddress")
                            .focus();
                    }
                }).open();
        }

        // 이메일 인증코드 타이머
        var verificationCodeEnabled = false; // 초기상태
        var timerInterval;

        async function enableEmailVerification() {

            if (emailadr.value == "") { // 이메일값이 없을때 전송이 안되도록.
                alert("이메일을 입력해주세요.")
                return false;
            }

            if (!verificationCodeEnabled) { // if 이메일 인증버튼 클릭 시
                document.getElementById("emailVerificationBtn").disabled = true; // 이메일 인증버튼 (입력 불가능상태로 전환)
                document.getElementById("verificationCode").hidden = false; // 인증코드 입력칸 (입력상태 전환)
                document.getElementById("verButton").hidden = false; // 인증버튼 활성화
                document.getElementById("lbl_verificationCode").hidden = false; // 인증입력칸 라벨 활성화
                document.getElementById("email").readOnly = true; // 이메일 입력칸 수정 불가능 상태로 전환
                startTimer(); // 타이머 시작
                verificationCodeEnabled = true;

                const url = /*[[@{/api/sellercodesend.json}]]*/"";
                const headers = { "Content-Type": "application/json" };
                const body = emailadr.value;
                const { data } = await axios.post(url, body, { headers: headers });

                // console.log('반환되는 결과', data); // 결과 확인 완료. 작동잘됨.
            }
        }

        function startTimer() {
            var duration = 119; // 타이머는 기본 2분
            var timer = duration, minutes, seconds;
            timerInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                document.getElementById("lbl_verificationCode").textContent = "남은 시간 " + minutes + ":" + seconds;

                if (--timer < 0) { // 타이머 시간 종료시
                    clearInterval(timerInterval); // 다시 처음상태로 되돌아감.
                    document.getElementById("emailVerificationBtn").disabled = false;
                    document.getElementById("verificationCode").hidden = true; // 인증코드 입력칸 비활성화
                    document.getElementById("verificationCode").value = null; // 인증코드 입력칸 값 초기화 (null)
                    document.getElementById("verButton").hidden = true; // 인증버튼 비활성화
                    document.getElementById("lbl_verificationCode").hidden = true; // 인증입력칸 라벨 비활성화
                    document.getElementById("email").readOnly = false;

                    verificationCodeEnabled = false;
                }
            }, 1000);
        }

        async function emailCodeCheck() {
            if (code.value == "") { // 이메일값이 없을때 전송이 안되도록.
                alert("인증코드를 입력해주세요.")
                return false;
            }

            const url = /*[[@{/api/sellercodecheck.json}]]*/"";
            const headers = { "Content-Type": "application/json" };
            const body = code.value;
            const { data } = await axios.post(url, body, { headers: headers });
            console.log('반환되는 결과', data);

            if (data.chk === 0) { // 이메일값이 없을때 전송이 안되도록.
                alert("인증번호가 일치하지 않습니다.")
                return false;
            } else if (data.chk === 1) { // 인증 완료시
                alert("인증이 완료되었습니다.")
                checkCode = 1;
                code.disabled = true;
                clearInterval(timerInterval);
                document.getElementById("verificationCode").hidden = true; // 인증코드 입력칸 비활성화
                document.getElementById("verButton").hidden = true; // 인증버튼 비활성화
                document.getElementById("lbl_verificationCode").hidden = true; // 인증입력칸 라벨 비활성화
                document.getElementById("emailVerificationBtn").textContent = "인증 성공";
                document.getElementById("lbl_verificationCode").textContent = "인증이 완료되었습니다.";
                document.getElementById("lbl_verificationCode").style.color = '#5e89ef';
                document.getElementById("verButton").disabled = true;
                document.getElementById("verButton").value = "인증완료";
            }
        }


        function capsLockCheck(e) { // CapsLock 유효성 검사
			let pwLabel = document.getElementById("lbl_pw");

			if (e.getModifierState("CapsLock")) { // CapsLock이 켜져 있는 상태라면
				pwLabel.innerText = "Caps Lock이 켜져 있습니다.";
				pwLabel.style.color = 'red';
			} else { // 그외의 모든 상황
				pwLabel.innerText = "암호";
				pwLabel.style.color = 'gray';
			}
		}

    </script>

</body>

</html>