<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업체가입</title>
</head>
<body>
    <h2>판매업체 회원가입</h2>

    <form th:action="@{/seller/join.do}" method="post">
        아이디(사업자번호) : <input type="text" name="no" autofocus /><br />
        패스워드 : <input type="password" name="pw" /><br />
        이름 : <input type="text" name="name" /><br />
        전화번호 : <input type="number" name="phone"  /><br />
        이메일 : <input type="text" name="role"  /><br />
        주소 : <input type="text" name="address"  /><br />
        <input type="submit" value="회원가입" />
    </form>
</body>
</html>