<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.mj.mjItemMapper">

    <!-- 물품 일괄삭제 -->
    <delete id="deleteItemBatch" parameterType="arraylist">
        DELETE FROM item WHERE no IN(
            <foreach collection="array" item="tmp" separator=" , ">
                #{tmp}
            </foreach>
        )
    </delete>

    <!-- 일괄수정 -->
    <update id="updateItemBatch" parameterType="list">
        UPDATE item SET
            name = (CASE
                <foreach collection="list" item="obj" separator=" ">
                    WHEN NO=#{obj.no} THEN #{obj.name}
                </foreach>
            END),
            price = (CASE
                <foreach collection="list" item="obj" separator=" ">
                    WHEN NO=#{obj.no} THEN #{obj.price}
                </foreach>
            END),
            quantity = (CASE
                <foreach collection="list" item="obj" separator=" ">
                    WHEN NO=#{obj.no} THEN #{obj.quantity}
                </foreach>
        WHERE no IN(
            <foreach collection="list" item="obj" separator=" , ">
                #{obj.no}
            </foreach>
        )
    </update>


</mapper>
